@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  @media screen and (min-width: 0px) and (max-width: 940px) {

  }
}
.page {
  &-section {
    &_header {
      height: 100vh;
      background: url(../../public/images/headphones.svg);

    }
    &__inner {
      padding: 0 250px;
    }
  }
}