@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold.woff2');
  font-weight: normal;
  font-style: normal;
}

$body-color: blue;

body {
  color: $body-color;
  & p {
    background: black !important;
  }
  & .one {
    font-family: 'raleway-bold';
    font-size: 40px;
    margin-bottom: 20px; 
  }

  & .two {
    font-size: 40px;
  }
}  